body,
html {
  background: url(http://www.tama.com/dlrank/dlranklog.cgi?dl=SCM2017_1920_2);
  background-size: cover;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.key {
  display: inline-block;
  color: white;
  border: white 2px solid;
  margin-left: 3rem;
  width: 5%;
  text-align: center;
}

kbd {
  font-size: 24px;
  display: block;
}

.sound {
  font-size: 14px;
}
